
  <nav class="navbar navbar-expand-lg navbar-light py-2 border-bottom" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand js-scroll-trigger" href="{{host}}" target="_blank">
        <img *ngIf="countryCode == 'US'" src="assets/images/logo.png" class="img-fluid" width="150px">
        <img *ngIf="countryCode == 'AU'" src="assets/img/logoAU.png" class="img-fluid" width="150px">
      </a>
      <span>
 
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </span>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="location-bar">
          <div class="dropdown border rounded" >
             
            <a href="javascript:void(0);" type="button" class="btn btn-link dropdown-toggle text-dark addrss " data-toggle="dropdown">
            <i class="fas fa-map-marker-alt"></i> <span *ngIf="!restaurantname && Locations[0]">{{selectedAddr}}, {{Locations[0].State}}, {{Locations[0].Country}}</span>
                <span *ngIf="!restaurantname && !Locations[0] && selectedAddr">{{selectedAddr}}</span>
            </a>
            <div class="dropdown-menu p-0">
              <span class="locationSpan" >
                <a  href="javascript:void(0)" (click)="getCurrentPosition()"><i  class="fa fa-map-marker text-dark mr-3 ml-1" ></i></a>
                </span>
              <input ngx-google-places-autocomplete class="form-control shadow-sm bg-white " class="form-control border addAddressString headerserachrestaurant  p-3" name="addAddressheader45456"  placeholder="Enter a new location" #placesRef="ngx-places" (onAddressChange)="handleAddressChangeKeyup($event)"  required>
       
            </div>
          </div>
        </div>

          <html>
          <head>
              <title>Reverse Geocoding</title>
              <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
              <script
                      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4onu-y-_thwzwRNFQKiTzhLgf63dIJo0&callback=initMap&libraries=&v=weekly"
                      defer
              ></script>
             <!-- <link rel="stylesheet" type="text/css" href="./style.css" />-->

          </head>
          <body>
          <div style="display: none" id="floating-panel">
              <input id="latlng" type="text" value="41.8781,-87.6298" />
              <input id="submitt" type="button" value="Reverse Geocode" />
          </div>
          <div id="map"></div>
          </body>
          </html>


    
        <form #restoSearch1="ngForm">
           
        <div class="header-search ml-3" >
            <button class="search" [disabled]="!restoSearch1.valid" (click)="searchrRestaurants(servicetype)">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-fw"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class=""></path></svg>
              </button>
            <input type="text" name="restaurantname1" [(ngModel)]="restaurantname" placeholder="Search by Restaurant Name" class="form-control restaurantname" required>
        
        </div>
        </form>
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{host}}/join-now.html" target="_blank">Register Your Restaurant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{host}}/register-organization.html" target="_blank">Raise Funds for Your Organization</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{host}}/contact.html" target="_blank">Contact Us</a>
          </li>
      
        </ul>
      </div>
    </div>
  </nav>
 
  
  <section class="" id="ggg">
    <div class="container">
      <div class="row" id="botomdata" >
        <div class="col-lg-12 pt-3">
          <div class="d-flex justify-content-center align-items-start">
            <div class="">
                <div class="toggle webtoggle second">


                    <input  type="radio" name="sizeBy" value="weight" id="sizeWeight"   [checked]="selectedservicetype == 'Pickup' " (click)="selectService('Pickup')" />
                    <label for="sizeWeight" [ngClass]="selectedservicetype == 'Pickup'? 'toggle2': ''">Pickup    </label>

                    <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions" [checked]="selectedservicetype == 'Delivery' || selectedservicetype == undefined" (click)="selectService('Delivery')"  />
                    <label for="sizeDimensions" [ngClass]="selectedservicetype == 'Delivery'? 'toggle2': ''">Delivery</label>
                    <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions1" [checked]="selectedservicetype == 'Curbside'" (click)="selectService('Curbside')"  />
                    <label for="sizeDimensions1"  [ngClass]="selectedservicetype == 'Curbside'? 'toggle2': ''">Curbside</label>
                </div>
            </div>
            
          </div>
        </div>
        <div class="col-lg-12 category-view">
          <div class="title d-flex">
            <h6 class="mr-3">Food Categories </h6>
          </div>
          <!-- Swiper -->
          <div class="categories">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let val of FoodTypes;let i=index;">
                <div class="slide-item p-3 rounded-lg " [id]="'foodtype' + val.FoodTypeId" style="cursor: pointer"  (click)="FoodTypeF(val.FoodTypeId, val.FoodTypeId, val); searchrRestaurantsBoth(servicetype); ">
                  <div class="item-img">
                    <figure>
                     <a > <img id="{{val.FoodTypeId}}w"   style="cursor: pointer" [src]="val.FoodTypeImg"> </a>
                    </figure>
                  </div>
                    <div class="text-center">{{val.Name}}</div>
                   <!-- <div class="custom-control custom-checkbox" style="margin-top: 10px">
                        <input type="checkbox" class="custom-control-input" id="{{val.FoodTypeId}}w" (click)="FoodTypeF(val.FoodTypeId,$event.target.checked)" name="example1">
                        <label class="custom-control-label"  for="{{val.FoodTypeId}}w">{{val.Name}}</label>
                    </div> -->


                    <!--<div class="text-center"><input  type="checkbox"  style="display: block !important;" id="{{val.FoodTypeId}}w" (click)="FoodTypeF(val.FoodTypeId,$event.target.checked)" name="example1">{{val.Name}}</div>-->
                </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        
        <div class=" web" [ngClass]="FoodTypes.length == 0?'col-lg-12':'col-lg-12'" >
          <div class="row border-bottom py-2" *ngIf="foodtype.length > 1 || restaurantname">
            <div class="col-lg-12" >
              <div class="btnlist">
                <ul class="list-inline">
                  <li class="list-inline-item" *ngIf="restaurantname && showRestaurant == 0">
                    <button class="btn">{{restaurantname}} <span class="ml-2" ><i class="fa fa-times" (click)="cleaResto()"></i></span></button>
                  </li>
                  <li class="list-inline-item" *ngFor="let val of FoodTypes;let i =index">
                    <button   *ngIf="showFoodtype == 1 && val.status == true"  class="btn">{{val.Name}} <span class="ml-2" ><i class="fa fa-times" (click)="clearFoodtype(val)"></i></span></button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class=" w-100 text-center" *ngIf="Locations.length == 0" ><!--comment-->
            <div class="filter-box py-4">
              <img src="assets/images/nodata.png" width="180px">
              <div class="mt-4">
                <h3 class="text-dark">
                </h3>
                </div>
            </div>
          </div>
          <div class="row list-view" *ngIf="Locations.length > 0">
            <div class="col-lg-12"></div>
            <ul class="restaurant-list-view my-2">
              <li *ngFor="let val of Locations;let i=index;">
                <div class="list-item border-bottom p-2 col-lg-12">
                  <div class="w-100 d-flex align-items-center">

                 
                  <div class="img-show left mr-3">
                    <img *ngIf="countryCode == 'US' && !val.LogoImg" src="assets/img/imageAU.png" class="img-fluid" width="100px">
                    <img *ngIf="countryCode == 'AU' && !val.LogoImg" src="assets/img/imageAU.png" class="img-fluid" width="100px">
                    <img *ngIf="val.LogoImg"  src="{{imageUrl}}{{val.LogoImg}}" class="img-fluid" width="100px">
                    <!-- <img *ngIf="!val.LogoImg && val.PortalBkImg"  src="{{imageUrl}}{{val.PortalBkImg}}" class="img-fluid" width="100px"> -->
                  </div>
                  <div class="right">
                    <div class="row no-gutters align-items-center">
                      <div class="col-lg-3">
                        
                        <h5 class="restaurant-name mb-0">{{val.Name}}</h5>
                        <p class="text-secondary mb-0">{{val.Addr1}}, {{val.City}}, {{val.State}}</p>
                      </div>
                      <div class="col-lg-2 text-center col-xs-4">
                        <span class="p-2 badge " [ngClass]="val.IsOpen == 1?'badge-success':'badge-danger'">{{val.IsOpen == 1?'OPEN':'CLOSED'}}</span>
                      </div>
                      <div class="col-lg-3 text-center col-xs-4 ">
                        <p class="text-secondary m-0">
                          <img src="assets/img/help.svg" width="25px">
                        </p>
                        <span>{{val.Featured}}</span>
                      </div>
                      <div class="col-lg-2 text-center col-xs-4">
                        <span *ngIf="selectedservicetype != 'Pickup' && selectedservicetype != 'Delivery' && selectedservicetype != 'Curbside'" class=""><img src="assets/img/del.png" class="img-fluid" width="18px"></span>
                        <span *ngIf="selectedservicetype == 'Pickup'" class=""><img src="assets/img/pickup.png" class="img-fluid" width="18px"></span>
                        <span *ngIf="selectedservicetype == 'Delivery'" class=""><img src="assets/images/del.png" class="img-fluid" width="20px"></span>
                        <span *ngIf="selectedservicetype == 'Curbside'" class=""><img src="assets/img/car.png" class="img-fluid" width="24px"></span>
                        <p class="text-secondary m-0">
                          {{val.MinDelay}} min
                        </p>
                      </div>
                      <div class="col-lg-2 text-center">
                        <a href="{{val.OrderLink}}{{val.urlname}}" target="_blank" class="btn btn-outline-primary-site btn-xs-block">Order Online</a>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </li>
          
            
            </ul>
            <pagination [boundaryLinks]="showBoundaryLinks" [itemsPerPage]="20" class="pagination-sm" 
            [totalItems]="totalCount"   [maxSize]="maxSize" 
            (pageChanged)="pageChanged($event)"></pagination>
          </div>
          <div class=" text-center web" [ngClass]="FoodTypes.length == 0?'col-lg-12':''" *ngIf="Locations.length == 0" id="section2"><!--comment-->
            <!-- <div class="filter-box py-4">
              <img src="assets/images/nodata.png" width="180px">
              <div class="mt-4">
                <h3 class="text-dark">We are not at this Location. Please enter a New Address.
                </h3>
                </div>
            </div> -->
          </div>
        </div>
        
        
        <div class="col-lg-9 mob" > <!--comment-->
          <div class="col-lg-12">
            <div class="row px-0 py-1 mb-2 fltrrow align-items-center border">
              <div class="col-sm-6">
                 
                    <div class="addr">
                       <h6  data-toggle="modal" (click)="changeSearchType(1)" data-target="#addmdl"> <span *ngIf="!restaurantname && Locations[0]">{{selectedAddr}}, {{Locations[0].State}}, {{Locations[0].Country}}</span>
                           <span *ngIf="!restaurantname && !Locations[0] && selectedAddr">{{selectedAddr}}</span></h6>
                       </div>
                       
              </div>
              <div class="col-sm-6 text-right d-flex" style="justify-content: flex-end;">
                  <button class="btn btn-link text-dark mr-1" id="filter-menu" (click)="changeSearchType(1)"  data-toggle="modal" data-target="#srchmdl"><i  class="fa fa-search"></i> <p class="mb-0">Search</p></button>
                    <button *ngIf="FoodTypes.length > 0" class="btn btn-link text-dark" id="filter-menu2" data-toggle="modal" data-target="#filtermdl"><i  class="fa fa-filter"></i> <p class="mb-0">Filter</p></button>
              </div>
            </div>
          </div>
         

              <div class="row" *ngIf="FoodTypes.length > 0">
               
                  <div class="col-sm-12 btnlist" >
                    <ul class="list-inline m-0">
                      <li class="list-inline-item" *ngIf="selectedservicetype  && showService == 0">
                        <button (click)="openFilters()" class="btn mb-2">{{selectedservicetype}} </button>
                      </li>
                      <li class="list-inline-item" *ngIf="restaurantname && showRestaurant == 0">
                        <button class="btn mb-2">{{restaurantname}} <span class="ml-2" ><i class="fa fa-times" (click)="cleaResto()"></i></span></button>
                      </li>
        
                      <li class="list-inline-item" *ngFor="let val of FoodTypes;let i =index">
                        <button   *ngIf="showFoodtype == 1 && val.status == true"  class="btn mb-2">{{val.Name}} <span class="ml-2" ><i class="fa fa-times" (click)="clearFoodtype(val)"></i></span></button>
                      </li>
                    </ul>
                  </div>
                
              </div>
              <div class=" text-center" *ngIf="Locations.length == 0" ><!--comment-->
                <div class="filter-box py-4">
                  <img src="assets/images/nodata.png" width="180px">
                  <div class="mt-4">
                    <h3 class="text-dark">
                    </h3>
                    </div>
                </div>
              </div>

            <div class="row list-view" *ngIf="Locations.length > 0">
              <ul class="restaurant-list-view my-0">
                <li *ngFor="let val of Locations;let i=index;">
                  <div class="list-item col-lg-12">
                      <a href="{{val.OrderLink}}{{val.urlname}}" target="_blank" class="border p-1 text-dark mb-1">
                        <div class="w-100 d-flex align-items-center">

                   
                    <div class="img-show left">
                      <img *ngIf="countryCode == 'US' && !val.LogoImg" src="assets/img/imageAU.png" class="img-fluid" width="100px">
                    <img *ngIf="countryCode == 'AU' && !val.LogoImg" src="assets/img/imageAU.png" class="img-fluid" width="100px">
                      <img *ngIf="val.LogoImg"  src="{{imageUrl}}{{val.LogoImg}}" class="img-fluid" width="100px">
                      <!-- <img *ngIf="!val.LogoImg && val.PortalBkImg"  src="{{imageUrl}}{{val.PortalBkImg}}" class="img-fluid" width="100px"> -->
                    </div>
                    <div class="right">
                      <div class="row no-gutters text-left">
                        <div class="col-lg-3">
                          
                          <h5 class="restaurant-name mb-xs-0">{{val.Name}}</h5>
                          <small class="text-secondary">{{val.Addr1}}, {{val.City}}, {{val.State}}</small>
                        </div>
                        <div class="col-lg-1  col-xs-2">
                          <span class="p-2 badge " [ngClass]="val.IsOpen == 1?'badge-success':'badge-danger'">{{val.IsOpen == 1?'OPEN':'CLOSED'}}</span>
                        </div>
                        <div class="col-lg-2 text-center col-xs-6">
                          <p class="text-secondary m-0">
                            <img src="assets/img/help.svg" width="25px">
                          </p>
                          <span class="nme">{{val.Featured}}</span>
                        </div>
                        <div class="col-lg-2 text-center col-xs-4">
                          <div class="text-center">
                            <span *ngIf="selectedservicetype != 'Pickup' && selectedservicetype != 'Delivery' && selectedservicetype != 'Curbside'" class=""><img src="assets/img/del.png" class="img-fluid" width="18px"></span>
                              <span *ngIf="selectedservicetype == 'Pickup'" class=""><img src="assets/img/pickup.png" class="img-fluid" width="18px"></span>
                              <span *ngIf="selectedservicetype == 'Delivery'" class=""><img src="assets/images/del.png" class="img-fluid" width="20px"></span>
                              <span *ngIf="selectedservicetype == 'Curbside'" class=""><img src="assets/img/car.png" class="img-fluid" width="24px"></span>
                              <p class="text-secondary m-0">
                                {{val.MinDelay}} min
                              </p>
                          </div>
                         
                        </div>
                        <!-- <div class="col-lg-2 text-center">
                          <a href="{{val.OrderLink}}{{val.urlname}}" target="_blank" class="btn btn-outline-primary-site btn-xs-block">Order Online</a>
                        </div> -->
                      </div>
                    </div>
                    </div>
                    </a>
                  </div>
                </li>
              </ul>
              <pagination [boundaryLinks]="showBoundaryLinks" [itemsPerPage]="20" class="pagination-sm"
            [totalItems]="totalCount"  [maxSize]="maxSize"
            (pageChanged)="pageChanged($event)"></pagination>
            
            </div>
            
            
          </div>
          <div class="row w-100 m-0 p-0 mob" *ngIf="Locations.length == 0" >
            
          </div>
      
      </div>

     

    </div>
  </section>
  <footer class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="title mb-3">
                    <h6 class="text-white">CONTACT INFO</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="javascript:void(0);"><small><strong>Call :</strong> 1-888-980-9642</small></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><small><strong>Email :</strong> support@bellymelly.com</small></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><small><strong>For Media Inquiries, Please contact :</strong> bellymelly@interdependence.com</small></a>
                    </li>
                    <li>
                      <a href="mailto:support@bellymelly.com"><small><i class="fa fa-map-marker mr-2"></i>Contact Us </small></a>
                  </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <div class="title mb-3">
                    <h6 class="text-white">Get to know us</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bellymelly.com/about.html"><small>About BellyMelly</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/about.html#our-mission"><small>Our Mission</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/about.html#meet-our-team"><small>Meet Our Team</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/in-the-news"><small>In the News</small></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="title mb-3">
                    <h6 class="text-white">Our Business Solution</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bellymelly.com/join-now.html"><small>Online Ordering Solution</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/dinein.html "><small>Contactless Dine-In</small></a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.bellymelly.restaurant&hl=en_US"><small>Download Restaurant Partner Android App</small></a>
                    </li>
                    <li>
                        <a href="https://apps.apple.com/us/app/bellymelly-restaurant-partner/id1481353155"><small>Download Restaurant Partner iOS App</small></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="title mb-3">
                    <h6 class="text-white">Partner with Us</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bellymelly.com/join-now.html"><small>Online Ordering For restaurants</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/dine-in.html"><small>Contactless Dine in for Restaurants</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/register-organization.html"><small>For organization</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/contact.html"><small>Business Enquiry</small></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="white-line">
        <div class="row text-white pb-3">
            <div class="col-lg-12">
                <div class="row w-100 footer-btm no-gutters">
                    <div class="col-lg-3 col-xs-6">
                        <span class="text-white">© 2020 BellyMelly</span>
                    </div>
                    <div class="col-lg-4 col-xs-6 text-right-xs">
                        <ul class="list-inline m-0 p-0">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/BellyMellyUS" class="fb social-icons" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/BellyMelly_" class="twitter social-icons" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/bellymelly_/" class="insta social-icons" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/bellymelly" class="linkedin social-icons" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 text-right text-center-xs">
                        <ul class="list-inline m-0 p-0">
                            <li class="list-inline-item">
                                <a href=" https://play.google.com/store/apps/details?id=com.bellymelly.user">
                                    <img src="assets/images/playstore.png" width="135px"></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://apps.apple.com/us/app/bellymelly-order-local/id1481383437">
                                    <img src="assets/images/applestore.png" width="135px"></a>
                            </li>
    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Button to Open the Modal -->



<!-- The Modal -->
<div class="modal" id="filtermdl" data-toggle="modal">
<div class="modal-dialog text-dark">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header align-items-center py-3 justify-content-between">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      <h6 class="modal-title">Filters</h6>
        <a href="javascript:void(0)" (click)="clearALl()"> <p  class="mb-0 clearal">Clear All</p></a>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 m-0 p-0">
           <div class="toggle">
                      <input type="radio" name="sizeBy" value="weight" id="sizeWeightm" [checked]="selectedservicetype == 'Pickup'"   (click)="selectServiceMob('Pickup')" />
                      <label for="sizeWeightm">Pickup</label>
                      <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensionsm" [checked]="selectedservicetype == 'Delivery'" (click)="selectServiceMob('Delivery')"  />
                      <label for="sizeDimensionsm">Delivery</label><br>
                      <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensionsm1" [checked]="selectedservicetype == 'Curbside'" (click)="selectServiceMob('Curbside')"  />
                      <label for="sizeDimensionsm1">Curbside</label>
                    </div>
                    <div class="accordion border-top" id="accordionExample">
                        <div class="card">
                          <div class="card-header bg-transparent title" id="headingOne">
                            <h6 class="mb-0">
                              <a href="javascript:void(0)" class="text-dark d-flex justify-content-between align-items-center" type="button"  aria-expanded="true" >
                                Food Type

                              </a>
                            </h6>
                          </div>
        
                          <div id="food-type" class="" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body p-0 text-left">
                              <div class="row no-gutters">
                                <div  *ngFor="let val of FoodTypes;let i=index;"  class="col-xs-4 text-center mb-2 px-1">
                                  <div  (click)="FoodTypeF(val.FoodTypeId, val.FoodTypeId, val);"  [id]="'foodtypem' + val.FoodTypeId" class="slide-item w-100 p-3 rounded-lg ">
                                    <div class="item-img">
                                      <figure class="text-center">
                                          <a > <img id="{{val.FoodTypeId}}m"   style="cursor: pointer" [src]="val.FoodTypeImg"> </a>
                                      </figure>
                                    </div>
                                    <div class="text-center">{{val.Name}}</div>
                                  </div>
                                </div>
                               <!-- <div class="col-3 text-center mb-2 px-1">
                                  <div class="slide-item p-3 rounded-lg">
                                    <div class="item-img">
                                      <figure class="text-center">
                                        <img src="https://s3.amazonaws.com/v1.0/images/FoodType/IMG-2.png">
                                      </figure>
                                    </div>
                                    <div class="text-center">Asian</div>
                                  </div>
                                </div>
                                <div class="col-3 text-center mb-2 px-1">
                                  <div class="slide-item p-3 rounded-lg">
                                    <div class="item-img">
                                      <figure class="text-center">
                                        <img src="https://s3.amazonaws.com/v1.0/images/FoodType/IMG-2.png">
                                      </figure>
                                    </div>
                                    <div class="text-center">Asian</div>
                                  </div>
                                </div>
                                <div class="col-3 text-center mb-2 px-1">
                                  <div class="slide-item p-3 rounded-lg">
                                    <div class="item-img">
                                      <figure class="text-center">
                                        <img src="https://s3.amazonaws.com/v1.0/images/FoodType/IMG-2.png">
                                      </figure>
                                    </div>
                                    <div class="text-center">Asian</div>
                                  </div>
                                </div>
                                <div class="col-3 text-center mb-2 px-1">
                                  <div class="slide-item p-3 rounded-lg">
                                    <div class="item-img">
                                      <figure class="text-center">
                                        <img src="https://s3.amazonaws.com/v1.0/images/FoodType/IMG-2.png">
                                      </figure>
                                    </div>
                                    <div class="text-center">Asian</div>
                                  </div>
                                </div>
                                <div class="col-3 text-center mb-2 px-1">
                                  <div class="slide-item p-3 rounded-lg">
                                    <div class="item-img">
                                      <figure class="text-center">
                                        <img src="https://s3.amazonaws.com/v1.0/images/FoodType/IMG-2.png">
                                      </figure>
                                    </div>
                                    <div class="text-center">Asian</div>
                                  </div>
                                </div>
                                <div class="col-3 text-center mb-2 px-1">
                                  <div class="slide-item p-3 rounded-lg">
                                    <div class="item-img">
                                      <figure class="text-center">
                                        <img src="https://s3.amazonaws.com/v1.0/images/FoodType/IMG-2.png">
                                      </figure>
                                    </div>
                                    <div class="text-center">Asian</div>
                                  </div>
                                </div>
                                <div class="col-3 text-center mb-2 px-1">
                                  <div class="slide-item p-3 rounded-lg">
                                    <div class="item-img">
                                      <figure class="text-center">
                                        <img src="https://s3.amazonaws.com/v1.0/images/FoodType/IMG-2.png">
                                      </figure>
                                    </div>
                                    <div class="text-center">Asian</div>
                                  </div>
                                </div>
                                <div class="col-3 text-center mb-2 px-1">
                                  <div class="slide-item p-3 rounded-lg">
                                    <div class="item-img">
                                      <figure class="text-center">
                                        <img src="https://s3.amazonaws.com/v1.0/images/FoodType/IMG-2.png">
                                      </figure>
                                    </div>
                                    <div class="text-center">Asian</div>
                                  </div>
                                </div>-->
                              </div>
                              <!-- <div class="custom-control custom-checkbox" *ngFor="let val of FoodTypes;let i=index;">
                                <input type="checkbox" class="custom-control-input" id="{{val.FoodTypeId}}m" (click)="FoodTypeF(val.FoodTypeId,$event.target.checked)" name="example1">
                                <label class="custom-control-label" for="{{val.FoodTypeId}}m">{{val.Name}}</label>
                              </div> -->
                            
                            </div>
                         
                          </div>
                        </div>
                        <div class="card">
                                      <div id="delivery-time" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body px-0">
                              <input type="text" class="js-range-slider" name="my_range" value="" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <button *ngIf="FoodTypes.length > 0"  class="btn btn-site w-100 mt-2 p-2 fltrsuccess" (click)="searchrRestaurantsBoth(servicetype)">Show Restaurant</button>
        </div>
      </div>
      </div>
    </div>

    <!-- Modal footer -->

  </div>
</div>
</div>


<div class="modal" id="addmdl"   data-backdrop="static" data-keyboard="false" >

  <div class="modal-dialog text-dark">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header align-items-center py-3 justify-content-center border-0">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 m-0 p-0 text-center">
              <h5>Change Your Address</h5>
              <div class="mt-4" style="position: relative;">
                  <input ngx-google-places-autocomplete [options]='options' class="form-control shadow-sm bg-white addAddressString" class="addAddressString" class="form-control border" name="addAddress4545677" [(ngModel)]="addAddressString"  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"  required>                
                  <!-- <span class="searchBox-clear"><a href="javascript:void()" (click)="changeSearchType(1)"> <i class="fa fa-times"></i></a></span> -->
              </div>
              <button   class="btn btn-site w-100 mt-4 p-2 fltrsuccess"  (click)="searchrRestaurantsWithAddress(servicetype)">UPDATE</button>
          </div>
        </div>
        </div>
      </div>

      <!-- Modal footer -->

    </div>
  </div>
</div>


<div class="modal" id="srchmdl">
    <div class="modal-dialog text-dark">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header align-items-center pt-3 pb-0 justify-content-center border-0">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body pt-1 mb-3">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 m-0 p-0 text-center">
                <h5>Search by Restaurant Name</h5>
                <div class="mt-3" style="position: relative;">
                    <input class="form-control shadow-sm bg-white " name="restaurantname" [(ngModel)]="restaurantname" class="form-control text-truncate restaurantname" placeholder="Search by Restaurant Name"  required>
                    <!-- <input ngx-google-places-autocomplete class="form-control shadow-sm bg-white" class="form-control border text-truncate restaurantname" name="addAddress4545" [(ngModel)]="addAddressString"  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"  required> -->
                  
                    <span class="searchBox-clear"><a href="javascript:void(0)" (click)="searchrRestaurants(servicetype)" >  <button class="btn btn-site">Search</button></a></span>
                </div>
          
            </div>
          </div>
          </div>
        </div>
  
        <!-- Modal footer -->
  
      </div>
    </div>
  </div>
