<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order from Our Partners - Belly Melly | Online Food Ordering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    &lt;!&ndash;Plugin CSS file with desired skin&ndash;&gt;
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    &lt;!&ndash;<link rel="stylesheet" href="css/home_style.css">&ndash;&gt;-->

<header class="border-bottom">
    <div class="web-header">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light py-2" id="mainNav">
            <div class="container">
                <div class="col-lg-12 d-flex align-items-center justify-content-between">
                    <a class="js-scroll-trigger" href="index.html">
                        <img src="assets/images/logo.png" class="img-fluid" width="150px">
                    </a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto mr-auto">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="join-now.html">Partner with us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="dine-in.html">Contactless Dine-In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="https://bellymelly.com/register-organization.html">Raise Funds</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link js-scroll-trigger" href="about.html">About Us</a>
                            </li>
                            <!--<li class="nav-item">
                            <a class="btn btn-primary btn-site rounded-0" href="#">Sign in</a>
                            </li>-->
                        </ul>
                    </div>
                    <!-- <div class="nav-right">
                        <a href="#" class="btn btn-outline-primary">Sign in</a>
                        <a href="#" class="btn btn-site">Sign Up</a>
                    </div> -->
                </div>
            </div>
        </nav>
    </div>
    <div class="mobile-header">
        <div class="content-view fixed-top mobile-nav">
            <nav role="navigation" class="shadow-sm bg-white">
                <div class="d-flex align-items-center px-3">
                    <div id="menuToggle">
                        <input id="toggle" type="checkbox" />
                        <span></span>
                        <span></span>
                        <span class="last-child"></span>

                        <ul id="menu">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="join-now.html">Partner with us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="dine-in.html">Contactless Dine-In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="https://bellymelly.com/register-organization.html">Raise Funds</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link js-scroll-trigger" href="about.html">About Us</a>
                            </li>
                            <!-- <li>
                                <a href="#" class="btn btn-outline-primary w-100 mb-2">Sign in</a>
                                <a href="#" class="btn btn-site w-100">Sign Up</a>
                            </li> -->
                        </ul>

                    </div>
                    <div class="main-header-view">
                        <a class="navbar-brand" href="index.html" ><img src="assets/images/logo.png" class="img-fluid" width="150px"></a>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</header>
<!-- Navigation -->
<section class="about-banner py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center py-5">
                <h2 class="display-4 text-white font-weight-800" style="position: relative;z-index: 2;">Food with a taste of community</h2>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container custom-width">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title mb-4">
                    Our Mission
                </div>
                <p>We are on a journey to create the most valuable local brand. We connect makers and eaters to enrich their lives through the power of specialization and technical expertise. Backed by generations of knowledge and cutting-edge technology, we give makers the platform and voice to take charge of their local restaurant, expand their coverage, and fill the world with authentic cuisine.</p> <p>When passionate makers turn their craft into their livelihood, we all live happier, fuller lives. People stop accepting the homogenous, mass-produced food items of big chains and robotic trucks because the quality, variety, and authenticity of local restaurant is both hyper-convenient.</p> <p>We believe local food isn't just food. It's a taste of community, a taste of culture, a taste of life.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title mb-5">
                    What We Do
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="bg-white rounded p-4 mb-3">
                    <div class="h5 text-orange font-weight-800">For Everyone</div>
                    <div class="content">
                        <p>BellyMelly provides a curation of local restaurants, often overlooked, but have the capability to generate local authentic flavor on your taste buds. We believe that people connect through food and local food isn't just food, it's a taste of community, a taste of culture and a taste of life</p>
                    </div>
                    <a routerLink="/" class="btn btn-site">Order Food</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-white rounded p-4 mb-3">
                    <div class="h5 text-orange font-weight-800">For Restaurants</div>
                    <div class="content">
                        <p>We help local restaurants discover long term customers, build their brands by providing a cutting edge white label online ordering solution. BellyMelly neither charges astronomically high commission from restaurant owners, nor does it practices often criticized discount centric practices for customer loyalty</p>
                    </div>
                    <a routerLink="/joinUs" class="btn btn-site">Explore More</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-white rounded p-4 mb-3">
                    <div class="h5 text-orange font-weight-800">For Community</div>
                    <div class="content">
                        <p>BellyMelly is a food ordering ecosystem in which organizations of all shapes and sizes can raise funds with the help of their local communities. With every single order that is placed, BellyMelly donates a dollar $ to an organization of customer's choosing</p>
                    </div>
                    <a href="https://bellymelly.com/register-organization.html" class="btn btn-site">Raise Funds</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container custom-width">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 mb-3">
                <div class="d-flex justify-content-center">
                    <div class="col-lg-10 px-0">
                        <div class="h2 font-weight-800">How technology is affecting the local industry</div>
                        <div class="mb-4">While we’re all hopeful that the pandemic leaves us soon and life gets back to normal, the reality isn’t that simple. We are now living in a “new normal”— one which values safety like never before. This new normal will require restaurateurs to manage their operations with social distancing in mind, including minimizing contact between customers and staff. As we continue...<b>Page 4, Todays Restaurant (August 2020)</b></div>
                        <a href="https://youngnfab.com/interview/belly-melly-a-unique-delivery-model-to-help-restaurants-earn-more-revenue/" target="_blank" class="btn btn-site">Read More</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <img src="assets/images/david.png" class="img-fluid">
            </div>

        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container-sm">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title mb-5">
                    Our History
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Swiper -->
                <div class="swiper-container our-history">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-left">
                            <div class="card bg-transparent">
                                <div class="img-sec ">
                                    <img src="assets/images/img.png" class="img-fluid">
                                </div>
                                <div class="circle-arrow mt-m-10px">
                                    <img src="assets/images/circle-arrow.svg" class="img-fluid">
                                </div>
                                <div class="content">
                                    <div class="h6 font-weight-800">2005</div>
                                    <p>BellyMelly opens its doors. Hardware stores in Cambridge, MA sell out of orange paint.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide text-left">
                            <div class="card bg-transparent">
                                <div class="img-sec ">
                                    <img src="assets/images/img.png" class="img-fluid">
                                </div>
                                <div class="circle-arrow mt-m-10px">
                                    <img src="assets/images/circle-arrow.svg" class="img-fluid">
                                </div>
                                <div class="content">
                                    <div class="h6 font-weight-800">2005</div>
                                    <p>BellyMelly opens its doors. Hardware stores in Cambridge, MA sell out of orange paint.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide text-left">
                            <div class="card bg-transparent">
                                <div class="img-sec ">
                                    <img src="assets/images/img.png" class="img-fluid">
                                </div>
                                <div class="circle-arrow mt-m-10px">
                                    <img src="assets/images/circle-arrow.svg" class="img-fluid">
                                </div>
                                <div class="content">
                                    <div class="h6 font-weight-800">2005</div>
                                    <p>BellyMelly opens its doors. Hardware stores in Cambridge, MA sell out of orange paint.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide text-left">
                            <div class="card bg-transparent">
                                <div class="img-sec ">
                                    <img src="assets/images/img.png" class="img-fluid">
                                </div>
                                <div class="circle-arrow mt-m-10px">
                                    <img src="assets/images/circle-arrow.svg" class="img-fluid">
                                </div>
                                <div class="content">
                                    <div class="h6 font-weight-800">2005</div>
                                    <p>BellyMelly opens its doors. Hardware stores in Cambridge, MA sell out of orange paint.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide text-left">
                            <div class="card bg-transparent">
                                <div class="img-sec ">
                                    <img src="assets/images/img.png" class="img-fluid">
                                </div>
                                <div class="circle-arrow mt-m-10px">
                                    <img src="assets/images/circle-arrow.svg" class="img-fluid">
                                </div>
                                <div class="content">
                                    <div class="h6 font-weight-800">2005</div>
                                    <p>BellyMelly opens its doors. Hardware stores in Cambridge, MA sell out of orange paint.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 our-team">
    <div class="container-sm">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title mb-5">
                    Our Team
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row no-gutters">
                    <div class="col-sm-3 col-5">
                        <div class="figure">
                            <img src="assets/images/team/team-1@2x.png" class="img-fluid">
                            <div class="fig-caption">
                                <h2>David Litchmen</h2>
                                <h5>Founder / Advisor</h5>
                            </div>
                            <div class="fig-description"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-5">
                        <div class="figure">
                            <img src="assets/images/team/team-2@2x.png" class="img-fluid">
                            <div class="fig-caption">
                                <h2>Aditya Chaudhary</h2>
                                <h5>CEO</h5>
                            </div>
                            <div class="fig-description"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-5">
                        <div class="figure">
                            <img src="assets/images/team/team-3@2x.png" class="img-fluid">
                            <div class="fig-caption">
                                <h2>Sagar Dhingra</h2>
                                <h5>COO</h5>
                            </div>
                            <div class="fig-description"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-5">
                        <div class="figure">
                            <img src="assets/images/team/team-4@2x.png" class="img-fluid">
                            <div class="fig-caption">
                                <h2>Sanju</h2>
                                <h5>CMO</h5>
                            </div>
                            <div class="fig-description"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-5">
                        <div class="figure">
                            <img src="assets/images/team/team-5@2x.png" class="img-fluid">
                            <div class="fig-caption">
                                <h2>Rahul Goyal</h2>
                                <h5>Sales Manager</h5>
                            </div>
                            <div class="fig-description"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-5">
                        <div class="figure">
                            <img src="assets/images/team/team-6@2x.png" class="img-fluid">
                            <div class="fig-caption">
                                <h2>Gaurav Dhingra</h2>
                                <h5>Operation Manager</h5>
                            </div>
                            <div class="fig-description"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-5">
                        <div class="figure">
                            <img src="assets/images/team/team-7@2x.png" class="img-fluid">
                            <div class="fig-caption">
                                <h2>Himanshu Mehta</h2>
                                <h5>Product Specialist</h5>
                            </div>
                            <div class="fig-description"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-5">
                        <div class="figure">
                            <img src="assets/images/team/team-8@2x.png" class="img-fluid">
                            <div class="fig-caption">
                                <h2>Kushfee Anjum</h2>
                                <h5>Relationship Manager</h5>
                            </div>
                            <div class="fig-description"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-5">
                        <div class="figure">
                            <img src="assets/images/team/team-9@2x.png" class="img-fluid">
                            <div class="fig-caption">
                                <h2>Abhilash Pandey</h2>
                                <h5>Business Development Manager</h5>
                            </div>
                            <div class="fig-description"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="title mb-3">
                    <h6 class="text-white">CONTACT INFO</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="javascript:void(0);"><small><strong>Call :</strong> 1-888-980-9642</small></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><small><strong>Email :</strong> support@bellymelly.com</small></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><small><strong>For Media Inquiries, Please contact :</strong> bellymelly@interdependence.com</small></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <div class="title mb-3">
                    <h6 class="text-white">Get to know us</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bellymelly.com/about.html"><small>About BellyMelly</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/about.html#our-mission"><small>Our Mission</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/about.html#meet-our-team"><small>Meet Our Team</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/in-the-news"><small>In the News</small></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="title mb-3">
                    <h6 class="text-white">Our Business Solution</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bellymelly.com/join-now.html"><small>Online Ordering Solution</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/dinein.html "><small>Contactless Dine-In</small></a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.bellymelly.restaurant&hl=en_US"><small>Download Restaurant Partner Android App</small></a>
                    </li>
                    <li>
                        <a href="https://apps.apple.com/us/app/bellymelly-restaurant-partner/id1481353155"><small>Download Restaurant Partner iOS App</small></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="title mb-3">
                    <h6 class="text-white">Partner with Us</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bellymelly.com/join-now.html"><small>Online Ordering For restaurants</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/dine-in.html"><small>Contactless Dine in for Restaurants</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/register-organization.html"><small>For organization</small></a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/contact.html"><small>Business Enquiry</small></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="white-line">
        <div class="row text-white pb-3">
            <div class="col-lg-12">
                <div class="row w-100 footer-btm no-gutters">
                    <div class="col-lg-3 col-xs-6">
                        <span class="text-white">© 2020 BellyMelly</span>
                    </div>
                    <div class="col-lg-4 col-xs-6 text-right-xs">
                        <ul class="list-inline m-0 p-0">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/BellyMellyUS" class="fb social-icons" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/BellyMelly_" class="twitter social-icons" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/bellymelly_/" class="insta social-icons" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/bellymelly" class="linkedin social-icons" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 text-right text-center-xs">
                        <ul class="list-inline m-0 p-0">
                            <li class="list-inline-item">
                                <a href=" https://play.google.com/store/apps/details?id=com.bellymelly.user">
                                    <img src="assets/images/playstore.png" width="135px"></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://apps.apple.com/us/app/bellymelly-order-local/id1481383437">
                                    <img src="assets/images/applestore.png" width="135px"></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <form class="form-rounded">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Restaurant Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="text-right">
                        <a href="#" class="btn btn-lg btn-rounded btn-primary">Submit</a>
                    </div>
                </form>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!--Plugin JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=drawing,weather,geometry,panoramio,places,visualization&amp;key=AIzaSyC4onu-y-_thwzwRNFQKiTzhLgf63dIJo0&amp"></script>
<!--<script src="js/custom.js"></script>-->
<script type="text/javascript">
    var swiper = new Swiper('.our-history', {
        slidesPerView: 1,
        spaceBetween: 30,
        grabCursor: true,
        // init: false,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
        },
        breakpoints: {
            640: {
                slidesPerView: 1,
            },
            768: {
                slidesPerView: 1,
            },
            1024: {
                slidesPerView: 5,
            },
        }
    });
</script>
<script>
    $(document).ready(function(){
        $("#zipcode").click(function(){
            $(".mobile-search-container").slideDown("medium");
        });
        $(".close").click(function(){
            $(".mobile-search-container").slideUp("medium");
        });
    });
</script>

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=drawing,weather,geometry,panoramio,places,visualization&amp;key=AIzaSyAiygV7gEuFEGJdxGO_KYvj9_TT-u8w3No"></script>-->

<script type="text/javascript">


    $(document).ready(function () {
        google.maps.event.addDomListener(window, 'load', function () {
            if (document.getElementById('zipcode')) {
                var places = new google.maps.places.Autocomplete(document.getElementById('zipcode'));
                places.setComponentRestrictions({ 'country': ['USA'] });
                google.maps.event.addListener(places, 'place_changed', function () {
                    var place = places.getPlace();
                    $("#zipcode").val($("#zipcode").val())
                    SearchLocation($("#zipcode").val());
                });
            }
        });
    });

    //  if (window.location.protocol == "http:") {

    //     var cloc = window.location.href;
    //     var rest = cloc.replace("http://", "");

    //     window.location.href = "https://" + rest;
    //}

    function SearchLocation(Addr) {
        if (Addr == null) {
            Addr = $("#zipcode").val();
        }

        if (Addr) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': Addr }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var Lat = results[0].geometry.location.lat();
                    var Long = results[0].geometry.location.lng();
                    location.href = "https://bellymelly.com/us/restaurants?latitude=" + Lat + "&longitude=" + Long;
                }
            });
        }
    }

</script>

