<!--<div class="modal fade" data-backdrop="static" id="orderSuccessModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body"> 
          <div class="thank-you-pop">
            <h3 class="text-white" >{{locationDetails?locationDetails.Name:''}}</h3>
            <span id="transactionSuccessfull"></span>
            <ul class="d-flex align-item-center justify-content-between">
              <li>Order No: <span>{{orderId || 'Not Come'}}</span></li>
              <li>|</li>
              <li>Status - Open</li> 
              {{orderData.TimeSelection == 0?'Open':'Close'}}
            </ul>
            <h2 class="py-3 text-center big-check">
              <i class="fa fa-check" aria-hidden="true"></i>
            </h2>
            <h5>Order Amount</h5>
            <h6>{{currency}}{{(orderData?orderData.TotalAmt:0).toFixed(2)}}</h6>
            <p class="text-white m-0">
              <span>Please Contact 02-6492-2807 for further assistance <i class="fa fa-phone" aria-hidden="true"></i></span>
            </p>
            <span id="successOrderId" style="display: none;">{{orderId}}</span>
            <ul class="list-unstyled px-0 py-3 border-bottom d-flex align-items-center justify-content-around mb-3">
              <li class="text-center">
                <img *ngIf="orderData.ServiceId == 1" class="" src="assets/images/foodbag.svg" height="36px">
                <img *ngIf="orderData.ServiceId == 2" class="" src="assets/images/delivery-boy.svg" height="36px">
                <img *ngIf="orderData.ServiceId == 3" class="" src="assets/images/car.svg" height="36px">
                <img *ngIf="orderData.ServiceId == 5" class="" src="assets/images/dinein.png" height="36px">
                <p class="text-white m-0"> 
                  <span *ngIf="orderData.ServiceId == 1">Pickup Order</span>
                  <span *ngIf="orderData.ServiceId == 2">Delivery Order</span>
                  <span *ngIf="orderData.ServiceId == 3">Curbside Order</span>
                  <span *ngIf="orderData.ServiceId == 5">Dine In Order</span>
                </p>
              </li>
              <li class="text-center">
                <img *ngIf="orderData.PaymentTypeId == 2" class="" src="assets/img/ic-payment.svg" height="36px">
                <img *ngIf="orderData.PaymentTypeId == 3" class="" src="assets/images/cod.svg" height="36px">
                <p class="text-white m-0" >
                  <span *ngIf="orderData.PaymentTypeId == 2"> Debit/Credit Card</span>
                  <span *ngIf="orderData.PaymentTypeId == 3"> Cash Payment</span>
                </p>
              </li>
            </ul>
            <h6 *ngIf="orderData.ServiceId != 5 text-white">
              With your help our platform improves the well being of your community. You can enjoy ordering food online and help the community as well.
              <span *ngIf="orderData.NGOName"> Thank you for choosing Organization {{orderData.NGOName?orderData.NGOName:''}}, {{locationDetails?locationDetails.Name:''}} will contribute {{orderData.DonateValue?orderData.DonateValue:''}}$ towards Organization {{orderData.NGOName?orderData.NGOName:''}}</span></h6>
          </div>
          <div class="text-center">
            <button class="btn btn-primary mr-3" data-dismiss="modal" routerLink="/{{mobUrl}}/profile">Order History</button>
          <a *ngIf="orderData.ServiceId != 5" href="{{host}}">  <button class="btn btn-site"  >Start New Order</button></a>
          <a *ngIf="orderData.ServiceId == 5" href="{{host}}/{{country}}/{{mobUrl}}#dinein">  <button class="btn btn-site"  >Start New Order</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <input type="hidden" data-toggle="modal" data-target="#orderSuccessModal1" id="openOrderSuccess">
  



   <!-- Modal -->
   <div class="modal fade thankyou" data-backdrop="static" id="orderSuccessModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header px-0">
				<div class="col-12">
					<div class="row w-100 d-flex align-items-center no-gutters mb-3">
						<div class="col-4"></div>
						<div class="col-4"><div class="text-center h6 text-white mb-0">Track Order</div></div>
						<div class="col-4 text-right"><a [routerLink]="'/' + country + '/' + mobUrl" data-dismiss="modal"><img  src="assets/images/cross.svg"></a></div>
					</div>
					<div class="row w-100 d-flex align-items-center justify-content-between no-gutters text-center">
						
						<div class="col-6">
							<p>Estimated Time</p>
							<h5 class="text-white" *ngIf="orderData.ServiceId == 1">{{locationDetails.Services[0].ReadyIn}}</h5>
							<h5 class="text-white" *ngIf="orderData.ServiceId == 2">{{locationDetails.Services[1].ReadyIn}}</h5>
							<h5 class="text-white" *ngIf="orderData.ServiceId == 3">{{locationDetails.Services[2].ReadyIn}}</h5>
							<h5 class="text-white" *ngIf="orderData.ServiceId == 5">{{locationDetails.Services[3].ReadyIn}}</h5>

						</div>
						<div class="col-6">
							<p>Order Number</p>
							<h4 class="text-white">{{orderId}}</h4>
						</div>
						
					</div>
				</div>
			</div>

			<div id="capture" class="modal-body text-center">
				<div  *ngFor="let ngo of locationDetails.ngo">
				<img *ngIf="ngo.RecId == orderData.NGOId" [src]="ngo.Photo" class="img-fluid">
				<p *ngIf="ngo.RecId == orderData.NGOId" class="text-center">
					With your help our platform improves the well being of your community. You can enjoy ordering food online and help the community as well. Thank you for choosing  {{ngo.Name}}. BellyMelly with {{locationDetails.Name}} will contribute $1 towards  {{ngo.Name}}.
				</p>
					<!--<button *ngIf="ngo.RecId == orderData.NGOId" class="btn btn-site" data-toggle="modal" data-target="#share-widgets" data-dismiss="modal">Share & Join our Community</button>-->
					<!-- <button *ngIf="ngo.RecId == orderData.NGOId" class="btn btn-site" (click)="save()" >Share & Join our Community</button> -->
					<div id="output"></div>
					<!-- <button *ngIf="ngo.RecId == orderData.NGOId" class="btn btn-site" (click)="share(ngo.Photo, '      With your help our platform improves the well being of your community. You can enjoy ordering food online and help the community as well. Thank you for choosing Organization' + orderData.NGOName + '.' +  locationDetails.Name +' will contribute $1 towards Organization' + orderData.NGOName + '.')" >Share & Join our Community</button> -->
					
				</div>

				<div class="timeline py-4">
					<ul>
						<li>
							<div class="d-flex align-items-center text-left">
								<div class="icon mr-2"><img src="assets/images/img-1.svg"></div>
								<div class="content">
									<div class="h6 mb-0">Order Placed</div>
									<p class="mb-0">We have receive your order</p>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center text-left">
								<div class="icon mr-2"><img src="assets/images/img-2.svg"></div>
								<div class="content">
									<div class="h6 mb-0">Order Confirmed</div>
									<p class="mb-0">Your order has been confirmed</p>
								</div>
							</div>
						</li>
						<li class="active">
							<div class="d-flex align-items-center text-left">
								<div class="icon mr-2"><img src="assets/images/img-3.svg"></div>
								<div class="content">
									<div class="h6 mb-0">Order Processed</div>
									<p class="mb-0">We are preparing your order</p>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center text-left">
								<div class="icon mr-2"><img src="assets/images/img-4.svg"></div>
								<div *ngIf="orderData.ServiceId == 1 || orderData.ServiceId == 3 " class="content">
									<div class="h6 mb-0">Ready to pickup</div>
									<p class="mb-0">Your order is ready for pickup</p>
								</div>
								<div *ngIf="orderData.ServiceId == 2  " class="content">
									<div class="h6 mb-0">Ready to Deliver</div>
									<p class="mb-0">Your order is ready for Deliver</p>
								</div>
								<div *ngIf="orderData.ServiceId == 5 " class="content">
									<div class="h6 mb-0">Ready to Dine in</div>
									<p class="mb-0">Your order is ready for Dine in</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="modal-footer p-0">
				<div class="row w-100 d-flex align-items-center justify-content-between mx-0 text-center">
						
					<div class="col-6 px-1">
						<button class="btn btn-site">Contact Restaurant on {{locationDetails.Tel}}</button>
					</div>
					<div class="col-6 px-1">
						<button class="btn btn-site" *ngIf="orderData.ServiceId != 5" style="color: white"><a href="{{host}}" style="color: white">Start New Order</a></button>
						<button class="btn btn-site" *ngIf="orderData.ServiceId == 5" ><a href="{{host}}/{{country}}/{{mobUrl}}#dinein" style="color: white">Start New Order</a></button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div><!-- modal -->
<div id="share-widgets" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Share & Join our Community</h5>
		</div>
		<div class="modal-body text-center">
		  <ul class="list-inline m-0 p-0">
			  <li class="list-inline-item">
				  <a href="https://www.facebook.com/BellyMellyUS" class="fb social-icons" target="_blank"><i class="fa fa-facebook"></i></a>
			  </li>
			  <li class="list-inline-item">
				  <a href="https://twitter.com/BellyMelly_" class="twitter social-icons" target="_blank"><i class="fa fa-twitter"></i></a>
			  </li>
			  <li class="list-inline-item">
				  <a href="https://www.instagram.com/bellymelly_/" class="insta social-icons" target="_blank"><i class="fa fa-instagram"></i></a>
			  </li>
			  <li class="list-inline-item">
				  <a href="https://www.linkedin.com/company/bellymelly" class="linkedin social-icons" target="_blank"><i class="fa fa-linkedin"></i></a>
			  </li>
		  </ul>
		</div>
		<div class="modal-footer py-0">
		  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
		</div>
	  </div>
  
	</div>
  </div>