@import "../../../../assets/css/variables";
header{
  width: 100%;
  float: left;
  background: #ffffff;
  &.stick{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    animation: stickySlideDown .7s;
  }
  @keyframes stickySlideDown {
    0% {
      opacity: 0.7;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.timeline ul{
  margin: 0;
  list-style: none;
  position: relative;
  padding: 0;
}

.timeline ul li{
  position: relative;
  display: flex;
  align-items: start;
  justify-content: start;
  opacity: .3;
  min-height: 100px;
}
.timeline ul li::before{
  content: '';
  position: absolute;
  top: 0;
  left: 3px;
  width: 10px;
  height: 100%;
  border-right: 3px dotted #222b45;
}
.timeline ul li.active{
  opacity: 1;
}
.timeline ul li .icon{
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 10px;
  padding-left: 0;
}
.timeline ul li:last-child{
  min-height: 1px;
}
.timeline ul li:last-child::before{
  display: none;
}