<div id="registerModal" class="modal fade authenticate" tabindex="-1" role="dialog" data-backdrop="true" aria-hidden="true" style="z-index: 9999">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="goback()" data-dismiss="modal">&times;</button>
        <h2>Welcome Back! Please Register Here</h2>
        <h6>Already on BellyMelly? <a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal" data-dismiss="modal" (click)="goback()" class="text-link" style="color: #0d95e8">Login here</a></h6>
      </div>
      <div class="modal-body">
        <div class="modal-inner">
          <form *ngIf="flags.isOtpSent">
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100">
                <input type="text" placeholder=" " name="otp" autocomplete="off" [(ngModel)]="signUpBody.data.customerData.otp" appOnlyNumber maxlength="6" #otp="ngModel" required>
                <span>Enter OTP</span>
                <p class="text-danger mb-0">One Time Password Sent to {{signUpBody.data.customerData.eMail}}</p>
              </label>
            </div>
            <button class="btn btn-success btn-block mt-3 d-flex align-items-center justify-content-center" [disabled]="otp.invalid || flags.isOtpVerified" (click)="verify()"><span *ngIf="flags.isOtpVerified" class="spinner-border spinner-border-sm text-light mr-2"></span> {{flags.isOtpVerified?'Please wait...':'Verify Otp'}}</button>
            <button class="btn btn-success btn-block mt-3 d-flex align-items-center justify-content-center"  (click)="goback()">Go Back</button>
            <button class="btn btn-success btn-block mt-3 d-flex align-items-center justify-content-center" [disabled]="resendOtpSent"  (click)="ResendsendOtp()"><span *ngIf="resendOtpSent" class="spinner-border spinner-border-sm text-light mr-2"></span> {{resendOtpSent?'Please wait...':'Resend Otp'}} </button>
           
          </form>
          <!-- Form -->
          <form class="text-center" style="color: #757575;" *ngIf="!flags.isOtpSent" #userRegisterForm="ngForm">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mb-0">
                  <label class="pure-material-textfield-outlined w-100">
                    <input placeholder=" " name="fname" type="text" [(ngModel)]="signUpBody.data.customerData.fName" required>
                    <span>First Name</span>
                    <p class="text-danger mb-0" *ngIf="!signUpBody.data.customerData.fName">{{fnameError}}</p>
                  </label>
                </div> 
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-0">
                  <label class="pure-material-textfield-outlined w-100">
                    <input placeholder=" " name="lname" type="text" [(ngModel)]="signUpBody.data.customerData.lName" required>
                    <span>Last Name</span>
                    <p class="text-danger mb-0" *ngIf="!signUpBody.data.customerData.lName">{{lnameError}}</p>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100">
                <input placeholder=" " type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" maxlength="50" [(ngModel)]="signUpBody.data.customerData.eMail" required>
                <span>Enter Email</span>
                <p class="text-danger mb-0" *ngIf="!signUpBody.data.customerData.eMail">{{emailError}}</p>
              </label>
            </div>
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100">
                <input placeholder=" " name="mobile" type="text" appOnlyNumber [(ngModel)]="signUpBody.data.customerData.tel"  maxlength="10" required>
                <span>Enter Mobile No.</span>
                <p class="text-danger mb-0" *ngIf="!signUpBody.data.customerData.tel">{{tellError}}</p>
              </label>
            </div>
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100 password-view">
                <input placeholder=" " name="password"  maxlength="20" [type]="hide ? 'password' : 'text'" id="typepass3" [(ngModel)]="password" required>
                <span>Enter Password</span>
                <div  class="icon">
                  <span *ngIf="!visiblePass"  style="cursor: pointer" title="Show Password" (click)="myFunction()" class="visible"><mat-icon>visibility</mat-icon></span>
                  <span *ngIf="visiblePass" style="cursor: pointer" title="Hide Password" class="not-visible" (click)="myFunction()"><mat-icon>visibility_off</mat-icon></span>
                </div>
                <!--<p class="text-danger mb-0" *ngIf="!password">visibility_off</p>-->
              </label>
            </div>
            
            

            <button *ngIf="!flags.isOtpSent" matRipple class="btn btn-success btn-block mt-3 d-flex align-items-center justify-content-center" [disabled]="flags.isRegister"  (click)="sendOtp()"><span *ngIf="flags.isRegister" class="spinner-border spinner-border-sm text-light mr-2"></span> {{flags.isRegister?'Please wait...':'Sign Up'}}</button>

            
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
<div style="display: none;" id="registerModal" class="animated-modal">
  <div class="modal-customization">
    <div class="login-box" fxLayout="row" fxLayoutAlign="start center">
      <div class="left" fxFlexOrder="2">
        <img src="assets/images/choose-order.svg" class="img-fluid">
      </div>
      <div class="right" fxFlexOrder="1">
        <div class="login-form-box">
          <div class="title">
            <h6 class="title-heading">
              {{flags.isOtpSent?'Verify Otp':'Sign Up'}}
            </h6>
          </div>
          <form *ngIf="flags.isOtpSent">
            <div class="form-group">
              <label>Please Enter One Time Password Sent to {{signUpBody.data.customerData.eMail}}</label>
              <input type="text" class="form-control" name="otp" autocomplete="off" [(ngModel)]="signUpBody.data.customerData.otp" appOnlyNumber maxlength="6" #otp="ngModel" required />
            </div>
         
                <button class="btn btn-default btn-block rounded-0 mt-3" [disabled]="otp.invalid || flags.isOtpVerified" (click)="verify()">{{flags.isOtpVerified?'Hold On...':'Verify Otp'}}</button>
                <button class="btn btn-default btn-block rounded-0 mt-3"  (click)="goback()">Go Back</button>
                <button class="btn btn-default btn-block rounded-0 mt-3"  (click)="ResendsendOtp()">Resend Otp</button>
           
          </form>
          <form *ngIf="!flags.isOtpSent" #userRegisterForm="ngForm">
            <div class="form-group">
              <label>Enter First Name</label>
              <input type="text" class="form-control" name="fname" autocomplete="off" [(ngModel)]="signUpBody.data.customerData.fName" maxlength="50" required />
              <span class="errormsg" *ngIf="!signUpBody.data.customerData.fName">{{fnameError}}</span>
            </div>
            <div class="form-group">
              <label>Enter Last Name</label>
              <input type="text" class="form-control" name="lname" autocomplete="off" [(ngModel)]="signUpBody.data.customerData.lName" maxlength="50" required />
              <span class="errormsg" *ngIf="!signUpBody.data.customerData.lName">{{fnameError}}</span>
            </div>
            <div class="form-group">
              <label>Enter Email</label>
              <input type="email" class="form-control" name="email" autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" maxlength="50" [(ngModel)]="signUpBody.data.customerData.eMail" required />
              <span class="errormsg" *ngIf="!signUpBody.data.customerData.eMail">{{emailError}}</span>
            </div>
            <div class="form-group">
              <label>Enter Mobile No.</label>
              <input type="text" class="form-control enterOnlyNumber" autocomplete="off"  name="phoneNumbers" appOnlyNumber [(ngModel)]="signUpBody.data.customerData.tel"  maxlength="10" required />
              <span class="errormsg" *ngIf="!signUpBody.data.customerData.tel">{{tellError}}</span>
            </div>
            <div class="form-group">
              <label>Enter Password</label>
              <input type="password" class="form-control" name="password" autocomplete="off" maxlength="20" [(ngModel)]="password" required />
              <span class="errormsg" *ngIf="!password">{{passwordError}}</span>
            </div>
            
          </form>
        </div>
        <p>Already have account, <a href="javascript:void(0)" (click)="signIn()">Sign in</a></p>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-site rounded-0 d-none" data-fancybox data-animation-duration="700" id="openSignUpModal" data-src="#registerModal">New User?<br><b>Sign Up</b></button> -->
