<div id="loginModal" class="modal fade authenticate" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 999999">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="close" class="close" data-dismiss="modal">&times;</button>
        <h2>Welcome Back! Please Sign In</h2>
        <h6>New to BellyMelly? <a data-dismiss="modal" data-toggle="modal" data-target="#registerModal"  class="text-link" style="color: #0d95e8">Register here</a></h6>
      </div>
      <div class="modal-body">
        <div class="modal-inner">
          <!-- Form -->
          <form #sendForm="ngForm" class="text-center" style="color: #757575;" action="#!">
            <ul class="social-widgets mt-3 mb-5 list-unstyled list-inline">
              <li (click)="socialFbSignIn(1)" class="list-inline-item">
                <a href="javascript:void(0);">
                  <img src="assets/img/facebook.svg" class="img-fluid" alt="Facebook" width="20px" (click)="socialFbSignIn(1)"> Login with Facebook
                </a>
              </li>
              <li (click)="socialGoogleSignIn(2)" class="list-inline-item">
                <a href="javascript:void(0);">
                  <img src="assets/img/google.svg" class="img-fluid" alt="Google" width="20px" (click)="socialGoogleSignIn(2)"> Login with Google
                </a>
              </li>
            </ul>
            <p class="text-center"><a href="javascript:void(0);" class="font-weight-bold text-muted" data-toggle="modal" data-dismiss="modal" data-target="#loginEmail"><small>Login with Email</small></a></p>
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</div>


<div id="loginEmail" class="modal fade authenticate" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 999999">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="close2"  class="close" data-dismiss="modal">&times;</button>
        <h2>Welcome Back! Please Sign In</h2>
        <h6>New to BellyMelly? <a data-toggle="modal" data-target="#registerModal" data-dismiss="modal" class="text-link" style="color: #0d95e8">Register here</a></h6>
      </div>
      <div class="modal-body">
        <div class="modal-inner">
          <h6 class="font-weight-normal text-muted text-center">Go Back to <a  data-toggle="modal" data-target="#loginModal" data-dismiss="modal" class="text-link font-weight-bold text-dark" style="color: #0d95e8 !important;">Social Login</a></h6>
          <!-- Form -->
          <form #loginForm="ngForm" *ngIf="!loginUserData">
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100">
                <input placeholder=" " name="email" [(ngModel)]="loginBody.data.username" required>
                <span>Enter Email</span>
              </label>
            </div>
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100 password-view">
                <input placeholder=" " [type]="hide ? 'password' : 'text'" id="typepass" name="password" [(ngModel)]="loginBody.data.password">
                <span>Enter  password</span>
                <div  class="icon">
                  <span *ngIf="!visiblePass"  style="cursor: pointer" title="Show Password" (click)="myFunction()" class="visible"><mat-icon>visibility</mat-icon></span>
                  <span *ngIf="visiblePass" style="cursor: pointer" title="Hide Password" class="not-visible" (click)="myFunction()"><mat-icon>visibility_off</mat-icon></span>
                </div>
              </label>
            </div>
            <!-- <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" id="typepass" [(ngModel)]="loginBody.data.password">
              <button class="bg-transparent border-0" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field> -->
            <!-- <div class="form-group">
              <label class="text-dark">Enter Email</label>
              <input type="email" class="form-control" name="email" autocomplete="off" [(ngModel)]="loginBody.data.username" required />
            </div> -->
            <!-- <div class="form-group">
              <label class="text-dark">Enter Password</label>
              <input type="password" class="form-control" name="password" id="typepass" [(ngModel)]="loginBody.data.password" required />
              <input type="checkbox" class="mt-2" (click)="toggle()"> <b class="ml-2 text-dark">Show Password</b> 
            </div> -->
            <p class="text-right"><a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" data-target="#sendOtpForgotModal">Forgot Password?</a></p>
            <button class="btn btn-success btn-block mt-3" matRipple [disabled]="!loginForm.valid || flags.isLogin" (click)="login()" type="submit">{{flags.isLogin?'Hold On...':'Sign In'}}</button>
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</div>


<div id="sendOtpForgotModal" class="modal fade authenticate" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 999999">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Reset Your Password</h2>
        <h6>New to BellyMelly? <a  data-toggle="modal" data-target="#registerModal" data-dismiss="modal" class="text-link" style="color: #0d95e8">Register here</a></h6>
      </div>
      <div class="modal-body">
        <div class="modal-inner">
          <h6 class="font-weight-normal text-muted text-center">Go Back to <a  data-toggle="modal" data-target="#loginModal" data-dismiss="modal" class="text-link font-weight-bold text-dark" style="color: #0d95e8 !important;">Social Login</a></h6>
          <!-- Form -->
          <form #forgotSendForm="ngForm">
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100">
                <input placeholder=" " *ngIf="findCountry" name="forgotEmail" [(ngModel)]="usernameForgot" required>
                <input placeholder=" " *ngIf="!findCountry" name="forgotEmail" [(ngModel)]="usernameForgot" required>
                <span *ngIf="findCountry">Phone Number</span>
                <span *ngIf="!findCountry">Email </span>
              </label>
            </div>
            <button class="btn btn-success btn-block mt-3" matRipple [disabled]="!usernameForgot|| flags.isLogin" (click)="sendOtpForgot()">Send OTP</button>
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</div>

<div id="enterOtpForgotModal" class="modal fade authenticate" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 999999">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Reset Your Password</h2>
        <h6>New to BellyMelly? <a href="javascript:void(0);" data-toggle="modal" data-target="#registerModal" data-dismiss="modal" class="text-link" style="color: #0d95e8">  Register here </a></h6>
      </div>
      <div class="modal-body">
        <div class="modal-inner">
          <h6 class="font-weight-normal text-muted text-center">Go Back to <a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal" data-dismiss="modal" class="text-link font-weight-bold text-dark" style="color: #0d95e8 !important;">Social Login</a></h6>
          <!-- Form -->
          <form #forgotSendForm="ngForm">
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100">
                <input placeholder=" " *ngIf="findCountry" [(ngModel)]="usernameForgot" disabled required>
                <span *ngIf="findCountry">Phone Number</span>
                <span *ngIf="!findCountry"> </span>
              </label>
            </div>
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100">
                <input type="text" placeholder=" " name="OTP" [(ngModel)]="OTP" required>
                <span>Enter one time password sent to {{usernameForgot}}</span>
              
              </label>
            </div>
            <div class="form-group mb-0">
              <label class="pure-material-textfield-outlined w-100 password-view">
                <input placeholder=" " name="password"  maxlength="20" [type]="hide ? 'password' : 'text'" id="typepass2" [(ngModel)]="password" required>
                <span>Enter Password</span>
                <div  class="icon">
                  <span *ngIf="!visiblePass"  style="cursor: pointer" title="Show Password" (click)="myFunction2()" class="visible"><mat-icon>visibility</mat-icon></span>
                  <span *ngIf="visiblePass" style="cursor: pointer" title="Hide Password" class="not-visible" (click)="myFunction2()"><mat-icon>visibility_off</mat-icon></span>
                </div>
              </label>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <button class="btn btn-success btn-block mb-3" matRipple [disabled]="!EnterforgotSendForm.valid || flags.isLogin" (click)="resetPassword()">Reset Password</button>
              </div>
              <div class="col-lg-6">
                <button class="btn btn-success btn-block" matRipple (click)="ResendsendOtp()">Resend Otp</button>
              </div>
            </div>
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal" id="sendOtpForgotModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reset Your Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form #forgotSendForm="ngForm">
          <div class="form-group">
            <label class="text-dark"> <span *ngIf="findCountry">Phone Number</span><span *ngIf="!findCountry">Email </span> </label>
            <input *ngIf="findCountry" type="text" class="form-control" name="email" [(ngModel)]="usernameForgot" placeholder="Enter Phone Number" required />
            <input *ngIf="!findCountry" type="text" class="form-control" name="email" [(ngModel)]="usernameForgot" placeholder="Enter Email" required />
          </div>

          <button class="btn btn-site" [disabled]="!forgotSendForm.valid || flags.isLogin" (click)="sendOtpForgot()">Send OTP</button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="modal" id="enterOtpForgotModal">
  <div class="modal-dialog">
    <div class="modal-content">
    

      <div class="modal-header">
        <h4 class="modal-title">Reset Your Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <div class="modal-body">
        <form #EnterforgotSendForm="ngForm">
          <div class="form-group">
            <label class="text-dark" *ngIf="findCountry" >Phone Number</label>
            <label class="text-dark" *ngIf="!findCountry" >Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="usernameForgot" disabled  required />
          </div>
          <div class="form-group">
              <label class="text-dark">Enter one time password sent to {{usernameForgot}} </label>
              <input type="text" class="form-control" name="OTP" [(ngModel)]="OTP" placeholder="One Time Password" required />
          </div>
          <div class="form-group">
              <label class="text-dark">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Enter A New Password" required />
          </div>
          <button class="btn btn-site mr-2" [disabled]="!EnterforgotSendForm.valid || flags.isLogin" (click)="resetPassword()">Reset Password</button>
          <button class="btn btn-primary" (click)="ResendsendOtp()">Resend Otp</button>
        </form>
      </div>
    </div>
  </div>
</div> -->





<div class="modal" id="sendOtpSignupModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h4 class="modal-title">Signup</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row no-gutters">
            <div class="col-md-8 mobile-form">
              <div class="">
                <div class="title">
                  <h1>Enter Mobile Number</h1>
                  <p>Please enter mobile no. to confirm</p>
                </div>
                <form #forgotSendFormSignup="ngForm">
                  <div class="form-group mb-0">
                    <label class="pure-material-textfield-outlined w-100">
                      <input placeholder=" " name="tel" maxlength="10" [(ngModel)]="tel" required>
                      <span>Enter Phone</span>
                    </label>
                  </div>
                  <button *ngIf="findCountry"  class="btn btn-site btn-block rounded-0" [disabled]="!forgotSendFormSignup.valid || flags.isLogin" (click)="signupSocial()">Send OTP</button>
                  <button *ngIf="!findCountry"  class="btn btn-site btn-block rounded-0" [disabled]="!forgotSendFormSignup.valid || flags.isLogin" (click)="signupSocial()">Confirm</button>
                </form>
              </div>
            </div>
            <div class="col-md-4 text-right" fxHide.xs>
              <img src="assets/img/login-right.svg" class="img-fluid right-img">
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  


  <div class="modal" id="enterOtpSigupModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Signup</h4>
            <button type="button" id="close3" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h6 *ngIf="findCountry" >Enter OTP sent to your phone.</h6>
            <h6 *ngIf="!findCountry" >Enter OTP sent to your Email.</h6>
            <form #EnterforgotSendForm="ngForm">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group mb-0">
                      <label class="pure-material-textfield-outlined w-100">
                        <input placeholder=" " name="FName" [(ngModel)]="FName" disabled required>
                        <span>First Name</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-0">
                      <label class="pure-material-textfield-outlined w-100">
                        <input placeholder=" " name="LName" [(ngModel)]="LName" disabled  required>
                        <span>Last Name</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-0">
                  <label class="pure-material-textfield-outlined w-100">
                    <input placeholder=" " name="fbemail" [(ngModel)]="fbemail" disabled  required>
                    <span>Email</span>
                  </label>
                </div>
                <div class="form-group mb-0">
                  <label class="pure-material-textfield-outlined w-100">
                    <input placeholder=" " name="tel" [(ngModel)]="tel" disabled  required>
                    <span>Phone Number</span>
                  </label>
                </div>    
                <div class="form-group mb-0">
                  <label class="pure-material-textfield-outlined w-100">
                    <input placeholder=" " name="OTP" [(ngModel)]="OTP"  required>
                    <span>Enter 4 digit Password Sent to your email {{fbemail}}</span>
                  </label>
                </div> 
                <button class="btn btn-site mr-2" [disabled]="!EnterforgotSendForm.valid || flags.isLogin" (click)="signupSocial()">Signup</button>
                <button   class="btn btn-site"  (click)="sendOtpSignup()">Resend OTP</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  