
<header class="border-bottom">
    <div class="web-header">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light py-2" id="mainNav">
            <div class="container">
                <div class="col-lg-12 d-flex align-items-center justify-content-between">
                    <a class="js-scroll-trigger" routerLink="/">
                        <img src="assets/images/logo.png" class="img-fluid" width="150px">
                    </a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto mr-auto">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="https://bellymelly.com/join-now.html" target="_blank">Partner with us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="https://bellymelly.com/dinein.html" target="_blank">Contactless Dine-In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="https://bellymelly.com/register-organization.html" target="_blank">Raise Funds</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="https://bellymelly.com/contact.html" target="_blank">About Us</a>
                            </li>
                            <!--<li class="nav-item">
                            <a class="btn btn-primary btn-site rounded-0" href="#">Sign in</a>
                            </li>-->
                        </ul>
                    </div>
                    <!--<div class="nav-right">
                        <a href="#" class="btn btn-outline-primary">Sign in</a>
                        <a href="#" class="btn btn-site">Sign Up</a>
                    </div>-->
                </div>
            </div>
        </nav>
    </div>
    <div class="mobile-header">
        <div class="content-view fixed-top mobile-nav">
            <nav role="navigation" class="shadow-sm bg-white">
                <div class="d-flex align-items-center px-3">
                    <div id="menuToggle">
                        <input id="toggle" type="checkbox" />
                        <span></span>
                        <span></span>
                        <span class="last-child"></span>

                        <ul id="menu">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="join-now.html" target="_blank">Partner with us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="dine-in.html" target="_blank">Contactless Dine-In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="register-organization.html">Raise Funds</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="contact.html">About Us</a>
                            </li>
                            <!--<li>
                                <a href="#" class="btn btn-outline-primary w-100 mb-2">Sign in</a>
                                <a href="#" class="btn btn-site w-100">Sign Up</a>
                            </li>-->
                        </ul>

                    </div>
                    <div class="main-header-view">
                        <a class="navbar-brand" routerLink="/" ><img src="assets/images/logo.png" class="img-fluid" width="150px"></a>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</header>
<!-- Navigation -->
<section class="bg-light py-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="title text-center mb-5">
                    Explore Your Neighbourhood Restaurants
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="city-item d-flex align-items-center justify-content-center" style="background: url(assets/images/cities/img-1.png)no-repeat center center;background-size: cover;">
                    <div class="h5 text-white">Lake View</div>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="city-item d-flex align-items-center justify-content-center" style="background: url(assets/images/cities/img-2.png)no-repeat center center;background-size: cover;">
                    <div class="h5 text-white">Gold Coast</div>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="city-item d-flex align-items-center justify-content-center" style="background: url(assets/images/cities/img-3.png)no-repeat center center;background-size: cover;">
                    <div class="h5 text-white">University Village</div>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="city-item d-flex align-items-center justify-content-center" style="background: url(assets/images/cities/img-4.png)no-repeat center center;background-size: cover;">
                    <div class="h5 text-white">Logan Square</div>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="city-item d-flex align-items-center justify-content-center" style="background: url(assets/images/cities/img-5.png)no-repeat center center;background-size: cover;">
                    <div class="h5 text-white">Albany Park</div>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="city-item d-flex align-items-center justify-content-center" style="background: url(assets/images/cities/img-6.png)no-repeat center center;background-size: cover;">
                    <div class="h5 text-white">Lake View</div>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="city-item d-flex align-items-center justify-content-center" style="background: url(assets/images/cities/img-7.png)no-repeat center center;background-size: cover;">
                    <div class="h5 text-white">Gold Coast</div>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="city-item d-flex align-items-center justify-content-center" style="background: url(assets/images/cities/img-8.png)no-repeat center center;background-size: cover;">
                    <div class="h5 text-white">University Village</div>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="city-item d-flex align-items-center justify-content-center" style="background: url(assets/images/cities/img-9.png)no-repeat center center;background-size: cover;">
                    <div class="h5 text-white">Logan Square</div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            
        </div>
    </div>
</section>
<!-- Masthead -->
<section class="py-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="title col-lg-12 text-center mb-5">
                Fulfill your appetite as well as empower<br>the local communities you live in
            </div>
            <div class="col-lg-4">
                <div class="box text-center service-1">
                    <div class="inner-content">
                        <div class="icon">
                            <h2 class="text-site display-4">
                                <img src="assets/images/food.svg" width="70px">
                            </h2>
                        </div>
                        <div class="content">
                            <h5 class="font-weight-800 my-2">Find a local<br>Restaurant</h5>
                            <p class="m-0">Search nearby restaurant options by name, location, or food type.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box text-center service-2">
                    <div class="inner-content">
                        <div class="icon">
                            <h2 class="text-site display-4">
                                <img src="assets/images/sport.svg" width="90px">
                            </h2>
                        </div>
                        <div class="content">
                            <h5 class="font-weight-800 my-2">Order, Pickup<br>or Delivery</h5>
                            <p class="m-0">Easily choose your favorites and place your order online.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box text-center service-3">
                    <div class="inner-content">
                        <div class="icon">
                            <h2 class="text-site display-4">
                                <img src="assets/images/hands-and-gestures.svg" width="70px">
                            </h2>
                        </div>
                        <div class="content">
                            <h5 class="font-weight-800 my-2">Help your<br>Community</h5>
                            <p class="m-0">BellyMelly donates a dollar per order to a local organization of your choice. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6 offset-lg-0 col-sm-12">
                <div class="">
                    <h2> <span class="font-weight-800">Download the BellyMelly App</span></h2>
                    <p>BellyMelly helps you discover local restaurants near you while giving back to your community. Download the app and order food with a taste of community.</p>
                    <div class="clearfix"></div>
                    <div class="header-button mt-20">
                        <a href=" https://play.google.com/store/apps/details?id=com.bellymelly.user">
                        <img src="assets/images/playstore.png"></a>
                        <a href="https://apps.apple.com/us/app/bellymelly-order-local/id1481383437">
                            <img src="assets/images/applestore.png"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-lg-0 col-sm-12 text-center">
                <img src="assets/images/main-download.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="bg-light py-5" id="in-the-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <div class="title">In The News</div>
            </div>
            <div class="col-lg-12 news-sec text-center">
                <div style="min-width: auto !important;" class="col mb-xs-3">
                    <div class="icon mb-3 min-h-80px">
                        <img src="assets/images/news/img-1.png" height="60px">
                    </div>
                    <a href="#" class="btn btn-outline-dark">Know More</a>
                </div>
                <div style="min-width: auto !important;" class="col mb-xs-3">
                    <div class="icon mb-3 min-h-80px">
                        <img src="assets/images/news/img-2.png" height="60px">
                    </div>
                    <a href="#" class="btn btn-outline-dark">Know More</a>
                </div>
                <div style="min-width: auto !important;" class="col mb-xs-3">
                    <div class="icon mb-3 min-h-80px">
                        <img src="assets/images/news/img-3.png" height="60px">
                    </div>
                    <a href="#" class="btn btn-outline-dark">Know More</a>
                </div>
                <div style="min-width: auto !important;" class="col mb-xs-3">
                    <div class="icon mb-3 min-h-80px">
                        <img src="assets/images/news/img-4.png" height="60px">
                    </div>
                    <a href="#" class="btn btn-outline-dark">Know More</a>
                </div>
                <div style="min-width: auto !important;" class="col mb-xs-3">
                    <div class="icon mb-3 min-h-80px">
                        <img src="assets/images/news/img-5.png" height="60px">
                    </div>
                    <a href="#" class="btn btn-outline-dark">Know More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <div class="title">Partner With Us</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 text-center">
                <div class="title title-lg text-center">
                    Online Ordering Solution
                </div>
                <div class="icon mb-4">
                    <img src="assets/images/online-ordering.svg">
                </div>
                <button class="btn btn-primary">Learn More</button>
            </div>
            <div class="col-lg-2 col-xs-4 text-center d-flex align-items-center">
                <div class="vr-line"></div>
            </div>
            <div class="col-lg-5 text-center">
                <div class="title title-lg text-center">
                    Raise Fund For Your Organizations
                </div>
                <div class="icon mb-4">
                    <img src="assets/images/raise-funds.svg">
                </div>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>
</section>
<footer class="bg-dark pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="title mb-3">
                    <h6 class="text-white">CONTACT INFO</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        Call :  <a href="tel:1-888-980-9642">1-888-980-9642</a>
                    </li>
                    <li>
                        Email: <a href="mailto:support@bellymelly.com">support@bellymelly.com</a>
                    </li>
                    <li>
                        For Media Inquiries, Please contact :<a href="mailto:bellymelly@interdependence.com">bellymelly@interdependence.com</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-2">
                <div class="title mb-3">
                    <h6 class="text-white">Get to know us</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bellymelly.com/about.html">About BellyMelly</a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/about.html#our-mission">Our Mission</a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/about.html#meet-our-team">Meet Our Team</a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/about.html#meet-our-team">In the News</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="title mb-3">
                    <h6 class="text-white">Our Business Solution</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bellymelly.com/join-now.html">Online Ordering Solution</a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/dinein.html">Contactless Dine-In</a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.bellymelly.restaurant&hl=en_US">Download Restaurant Partner Android App</a>
                    </li>
                    <li>
                        <a href="https://apps.apple.com/us/app/bellymelly-restaurant-partner/id1481353155">Download Restaurant Partner iOS App</a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/join-now.html">Add Restaurant Detail</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="title mb-3">
                    <h6 class="text-white">Partner with Us</h6>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bellymelly.com/join-now.html">Online Ordering For restaurants</a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/dinein.html">Contactless Dine in for Restaurants</a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/register-organization.html">For organization</a>
                    </li>
                    <li>
                        <a href="https://bellymelly.com/contact.html">Business Enquiry</a>
                    </li>
                </ul>
            </div>

        </div>
        <hr class="white-line">
        <div class="row text-white pb-3 align-items-center">
            <div class="col-lg-3">
                <span class="text-white">© 2020  <b>BellyMelly</b></span>
            </div>
            <div class="col-lg-4">
                <ul class="list-inline m-0 p-0 h4">
                    <li class="list-inline-item mb-0">
                        <a class="fb" href="#" target="_blank">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mb-0">
                        <a class="tw" href="#" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mb-0">
                        <a class="yt" href="https://www.youtube.com/c/PaytmforBusinesstraining/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mb-0">
                        <a class="in" href="https://www.linkedin.com/company/paytm-mobile-solutions-pvt-ltd-/" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 text-right">
                <a href="https://itunes.apple.com/us/app/algo-pharmacy/id1430696696" target="_blank">
                    <img src="assets/images/apple-icon.svg" class="mr-2" width="150px">
                </a>
                <a href="https://itunes.apple.com/us/app/algo-pharmacy/id1430696696" target="_blank">
                    <img src="assets/images/android-icon.svg" width="150px">
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="mobile-search-view">
    <div class="mobile-search-container">
        <div class="mobile-search">
            <div class="search-header mb-2">
                <button class="close"><img src="assets/images/close.svg" height="24px"></button>
                <div class="input-box">
                    <input type="text" name="" placeholder="Enter street address or zip code">
                </div>
            </div>
            <div class="search-header">
                <a href="#">Use my current location</a>
            </div>
        </div>
    </div>
</div>
